<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="{EnvType}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ErmFactsTopic" value="{ErmFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AmsFactsTopic" value="{AmsFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RulesetFactsTopic" value="{RulesetFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReplicationBatchSize" value="10000"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableJobsRemoteControl" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Erm.Russia" connectionString="Data Source={DBHost};Initial Catalog=ErmBusinessRU{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Czech"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Cyprus"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Emirates"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Kazakhstan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Kyrgyzstan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Ukraine"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Uzbekistan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Erm.Azerbaijan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />

    <add name="ServiceBus.Russia" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Russia,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Russia;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Russia,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Russia;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Czech"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Cyprus"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Emirates"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kazakhstan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kyrgyzstan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Ukraine"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Uzbekistan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Azerbaijan"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />

    <add name="ValidationRules" connectionString="Data Source={DBHost};Initial Catalog=ValidationRulesBusinessRU{EnvNum};Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Kafka" connectionString="{'group.id':'{KafkaGroupId}','bootstrap.servers':'kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092'}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
