<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ErmFactsTopic" value="{ErmFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AmsFactsTopic" value="{AmsFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RulesetFactsTopic" value="{RulesetFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReplicationBatchSize" value="10000"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableJobsRemoteControl" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Erm.Russia" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}RU;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Czech" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}CZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Cyprus" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}CY;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Emirates" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}AE;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kazakhstan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}KZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kyrgyzstan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}KG;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Ukraine" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}UA;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Uzbekistan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}UZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Azerbaijan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}AZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ServiceBus.Russia" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Russia,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Russia;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Russia,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Russia;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Czech" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Czech,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Czech;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Czech,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Czech;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Cyprus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Cyprus,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Cyprus;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Cyprus,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Cyprus;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Emirates" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Emirates,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Emirates;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Emirates,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Emirates;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kazakhstan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Kazakhstan,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Kazakhstan;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Kazakhstan,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Kazakhstan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kyrgyzstan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Kyrgyzstan,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Kyrgyzstan;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Kyrgyzstan,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Kyrgyzstan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Ukraine" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Ukraine,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Ukraine;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Ukraine,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Ukraine;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Uzbekistan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Uzbekistan,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Uzbekistan;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Uzbekistan,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Uzbekistan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Azerbaijan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}Azerbaijan,sb://uk-erm-sql02.2gis.local/ERM-{EnvType}Azerbaijan;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}Azerbaijan,https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}Azerbaijan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ValidationRules" connectionString="Data Source={DBHost};Initial Catalog=ValidationRulesEduRU;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Kafka" connectionString="{'group.id':'{KafkaGroupId}','bootstrap.servers':'kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092'}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
