<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ErmEventsFlowTopic" value="{ErmEventsFlowTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableJobsRemoteControl" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Erm.Russia" connectionString="Data Source={DBHost};Initial Catalog=ErmRU{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Czech" connectionString="Data Source={DBHost};Initial Catalog=ErmCZ{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Cyprus" connectionString="Data Source={DBHost};Initial Catalog=ErmCY{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Emirates" connectionString="Data Source={DBHost};Initial Catalog=ErmAE{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kazakhstan" connectionString="Data Source={DBHost};Initial Catalog=ErmKZ{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kyrgyzstan" connectionString="Data Source={DBHost};Initial Catalog=ErmKG{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Ukraine" connectionString="Data Source={DBHost};Initial Catalog=ErmUA{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Uzbekistan" connectionString="Data Source={DBHost};Initial Catalog=ErmUZ{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Azerbaijan" connectionString="Data Source={DBHost};Initial Catalog=ErmAZ{EnvNum};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ServiceBus.Russia" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}RU{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}RU{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}RU{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}RU{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Czech" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}CZ{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}CZ{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}CZ{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}CZ{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Cyprus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}CY{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}CY{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}CY{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}CY{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Emirates" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}AE{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}AE{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}AE{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}AE{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kazakhstan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}KZ{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}KZ{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}KZ{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}KZ{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kyrgyzstan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}KG{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}KG{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}KG{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}KG{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Ukraine" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}UA{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}UA{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}UA{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}UA{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Uzbekistan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}UZ{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}UZ{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}UZ{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}UZ{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Azerbaijan" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}AZ{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}AZ{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}AZ{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}AZ{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ValidationRules" connectionString="Data Source={DBHost};Initial Catalog=ValidationRulesRU{EnvNum};Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ams" connectionString='{"topic":"{AmsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Rulesets" connectionString='{"topic":"{RulesetsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05","queued.max.messages.kbytes":"102400","queued.min.messages":"100"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
