<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="{EnvType}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ErmFactsTopic" value="{ErmFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AmsFactsTopic" value="{AmsFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RulesetFactsTopic" value="{RulesetFactsTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IdentityServiceUrl" value="https://identity.api.prod.erm.2gis.ru"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogstashUri" value="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReplicationBatchSize" value="10000"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableJobsRemoteControl" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Erm.Russia" connectionString="Data Source={DBHost};Initial Catalog=ErmRU;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Czech" connectionString="Data Source={DBHost};Initial Catalog=ErmCZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Cyprus" connectionString="Data Source={DBHost};Initial Catalog=ErmCY;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Emirates" connectionString="Data Source={DBHost};Initial Catalog=ErmAE;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kazakhstan" connectionString="Data Source={DBHost};Initial Catalog=ErmKZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kyrgyzstan" connectionString="Data Source={DBHost};Initial Catalog=ErmKG;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Ukraine" connectionString="Data Source={DBHost};Initial Catalog=ErmUA;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Uzbekistan" connectionString="Data Source={DBHost};Initial Catalog=ErmUZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Azerbaijan" connectionString="Data Source={DBHost};Initial Catalog=ErmAZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ServiceBus.Russia" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Russia;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Russia;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Czech" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Czech;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Czech;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Cyprus" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Cyprus;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Cyprus;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Emirates" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Emirates;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Emirates;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kazakhstan" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Kazakhstan;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Kazakhstan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Kyrgyzstan" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Kyrgyzstan;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Kyrgyzstan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Ukraine" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Ukraine;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Ukraine;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Uzbekistan" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Uzbekistan;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Uzbekistan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceBus.Azerbaijan" connectionString="Endpoint=sb://service-bus.prod.erm.2gis.ru/ERM-{EnvType}Azerbaijan;StsEndpoint=https://service-bus.prod.erm.2gis.ru:9355/ERM-{EnvType}Azerbaijan;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="ValidationRules" connectionString="Data Source={DBHost};Initial Catalog=ValidationRules;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Kafka" connectionString="{'group.id':'{KafkaGroupId}','bootstrap.servers':'kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092'}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
