<?xml version="1.0" encoding="utf-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!-- 1. Russia -->
    <job>
      <name>ReportingJob.Russia</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Russia</name>
        <group>Replication</group>

        <job-name>ReportingJob.Russia</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 2. Czech -->
    <job>
      <name>ReportingJob.Czech</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Czech</name>
        <group>Replication</group>

        <job-name>ReportingJob.Czech</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 3. Cyprus -->
    <job>
      <name>ReportingJob.Cyprus</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Cyprus</name>
        <group>Replication</group>

        <job-name>ReportingJob.Cyprus</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 4. Emirates -->
    <job>
      <name>ReportingJob.Emirates</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Emirates</name>
        <group>Replication</group>

        <job-name>ReportingJob.Emirates</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 5. Kazakhstan -->
    <job>
      <name>ReportingJob.Kazakhstan</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Kazakhstan</name>
        <group>Replication</group>

        <job-name>ReportingJob.Kazakhstan</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 6. Kyrgyzstan -->
    <job>
      <name>ReportingJob.Kyrgyzstan</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Kyrgyzstan</name>
        <group>Replication</group>

        <job-name>ReportingJob.Kyrgyzstan</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 7. Ukraine -->
    <job>
      <name>ReportingJob.Ukraine</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Ukraine</name>
        <group>Replication</group>

        <job-name>ReportingJob.Ukraine</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 8. Flamp -->

    <!-- 9. Uzbekistan -->
    <job>
      <name>ReportingJob.Uzbekistan</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Uzbekistan</name>
        <group>Replication</group>

        <job-name>ReportingJob.Uzbekistan</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <!-- 10. Azerbaijan -->
    <job>
      <name>ReportingJob.Azerbaijan</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ReportingJob.Azerbaijan</name>
        <group>Replication</group>

        <job-name>ReportingJob.Azerbaijan</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

  </schedule>
</job-scheduling-data>
