<?xml version="1.0" encoding="utf-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!-- 1. Russia -->
    <job>
      <name>ErmFactsFlow.Russia</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Russia</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Russia</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Russia</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Russia</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 2. Czech -->
    <job>
      <name>ErmFactsFlow.Czech</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Czech</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Czech</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Czech</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Czech</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 3. Cyprus -->
    <job>
      <name>ErmFactsFlow.Cyprus</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Cyprus</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Cyprus</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Cyprus</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Cyprus</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 4. Emirates -->
    <job>
      <name>ErmFactsFlow.Emirates</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Emirates</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Emirates</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Emirates</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Emirates</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 5. Kazakhstan -->
    <job>
      <name>ErmFactsFlow.Kazakhstan</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Kazakhstan</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Kazakhstan</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Kazakhstan</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Kazakhstan</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 6. Kyrgyzstan -->
    <job>
      <name>ErmFactsFlow.Kyrgyzstan</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Kyrgyzstan</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Kyrgyzstan</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Kyrgyzstan</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Kyrgyzstan</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 7. Ukraine -->
    <job>
      <name>ErmFactsFlow.Ukraine</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Ukraine</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Ukraine</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Ukraine</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Ukraine</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 8. Flamp -->

    <!-- 9. Uzbekistan -->
    <job>
      <name>ErmFactsFlow.Uzbekistan</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Uzbekistan</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Uzbekistan</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Uzbekistan</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Uzbekistan</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

    <!-- 10. Azerbaijan -->
    <job>
      <name>ErmFactsFlow.Azerbaijan</name>
      <group>ValidationRules</group>
      <description>ErmFactsFlow.Azerbaijan</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ErmFactsFlow.Azerbaijan</name>
        <group>ValidationRules</group>

        <job-name>ErmFactsFlow.Azerbaijan</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ErmFactsFlow</value>
          </entry>
          <entry>
            <key>Tenant</key>
            <value>Azerbaijan</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>100</repeat-interval>

      </simple>
    </trigger>

  </schedule>
</job-scheduling-data>
